@function testfunction($color) {
  $colorcomp: lighten($color, 30%);
  @return $colorcomp;
}

@function testfunction02($color03) {
  @if ($color03 == #ffff00) {
    $colorcomp: complement($color03);
    @return $colorcomp;
  } @else {
    @return $color03;
  }
}

@function testfunction03($color04) {
  $colorcomp: transparentize($color, 0.3);
  @return $colorcomp;
}
