@import url(reset.css);

@import "fonction.scss";

$color: #4f1883;
$color1: #ffffff;
$color2: firebrick;
$color03: yellow;

@mixin test {
  background-color: aqua;
}

@mixin test02 {
  border: 2px solid $color1;
}

body {
  @include test();
}

section {
  background-color: black;

  h1 {
    font-size: 4rem;
    color: $color1;
  }
}

main {
  ul {
    background-color: $color2;
  }

  .list01 {
    background-color: green;
  }

  li {
    @include test02();
  }

  a {
    text-decoration: none;
    &:hover {
      background-color: testfunction02($color03);
    }
  }
}

.list02 li {
  display: flex;
  margin: 5vh;
  background-color: testfunction($color);
}
