@import url(reset.css);

$color1: #ffffff;
$color2: firebrick;

@mixin test {
  background-color: aqua;
}

@mixin test02 {
  border: 2px solid $color1;
}

body {
  @include test();
}

section {
  background-color: black;

  h1 {
    font-size: 4rem;
    color: $color1;
  }
}

main {
  ul {
    background-color: $color2;
  }

  .list01 {
    background-color: green;
  }

  li {
    @include test02();
  }
}
